@using Music.Web.Areas.Admin.Models
@model Music.Web.Areas.Admin.Models.LoginModel

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập - Admin</title>

    <link href="~/Areas/Admin/Assets/Login/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- Custom Theme files -->
    <link href="~/Areas/Admin/Assets/Login/css/my-login.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body class="my-login-page">
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="brand">
                        <img src="~/source/images/logo.jpg">
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h3 class="card-title">Login</h3>
                            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                            {
                                <hr />
                                <div class="alert alert-info text-capitalize" role="alert">
                                    @Html.ValidationSummary(false, "", "error")
                                </div>
                                <div class="form-group">
                                    <label for="email">E-Mail Address</label>
                                    @Html.TextBoxFor(model => model.email, new { @class = "form-control",
                                   @onfocus = "this.value = ''"})
                                </div>
                                <div class="form-group">
                                    <label for="password">
                                        Password
                                        <a href="forgot.html" class="float-right">
                                            Forgot Password?
                                        </a>
                                    </label>
                                    @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>
                                        @Html.CheckBoxFor(model => model.RememberMe) Remember Me
                                    </label>
                                </div>
                                <div class="form-group no-margin">
                                    <button type="submit" class="register">Login</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="~/Areas/Admin/Assets/Login/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Assets/Login/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Assets/Login/js/my-login.js"></script>
</body>
</html>