@model Music.Model.EF.user

@{
    ViewBag.Title = "Quản lý ngnười dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1 class="text-center">Thêm người dùng thành công</h1>
</div>
