@model IEnumerable<Music.Model.EF.album>
@{
    ViewBag.Title = "Trang chủ - Âm nhạc và cuộc sống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6">
        @foreach (var item in Model)
        {
            <p>@Html.DisplayFor(model => item.album_name)</p>
            <a href=""><img src="@Url.Content(item.album_image)" width="480" alt="@Html.DisplayFor(model => item.album_name)" /></a><hr />

        }
    </div>
</div>