@{
    ViewBag.Title = "Trang chủ - Âm nhạc và cuộc sống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <a href=""><img src="~/source/images/356d0aeba28db53e43c22f0618c10f94_1514788859.jpg" width="480" alt="Đời của nó - Phạm Trưởng" /></a><hr />
        <a href=""><img src="~/source/images/356d0aeba28db53e43c22f0618c10f94_1514788859.jpg" width="480" alt="Đời của nó - Phạm Trưởng" /></a><hr />
        <a href=""><img src="~/source/images/356d0aeba28db53e43c22f0618c10f94_1514788859.jpg" width="490" alt="Đời của nó - Phạm Trưởng" /></a><hr />
        <a href=""><img src="~/source/images/356d0aeba28db53e43c22f0618c10f94_1514788859.jpg" width="480" alt="Đời của nó - Phạm Trưởng" /></a><hr />
        <a href=""><img src="~/source/images/356d0aeba28db53e43c22f0618c10f94_1514788859.jpg" width="480" alt="Đời của nó - Phạm Trưởng" /></a><hr />
        <a href=""><img src="~/source/images/356d0aeba28db53e43c22f0618c10f94_1514788859.jpg" width="480" alt="Đời của nó - Phạm Trưởng" /></a><hr />
    </div>
</div>