<div class="col-4">
    <ul class="list-group d-flex justify-content-between">
        <li class="list-group-item"> <h5> <span class="fa fa-heart"></span> TOP TUẦN VIỆT NAM</h5></li>
        <li class="list-group-item"> <a href="#">Cô Gái M52</a> <br /><a class="singer" href="#">Huy, Tùng Vu</a> <span class="badge badge-pill badge-danger float-lg-right">18m</span></li>
        <li class="list-group-item"> <a href="#">Ngắm Hoa Lệ Rơi</a> <br /><a class="singer" href="#">Châu Khải Phong</a> <span class="badge badge-pill badge-warning float-lg-right">12m</span></li>
        <li class="list-group-item"> <a href="#">Cùng Anh</a> <br /><a class="singer" href="#"> Ngọc Dolil, Hagi, STee </a> <span class="badge badge-pill badge-info float-lg-right">9m</span></li>
        <li class="list-group-item"> <a href="#">Người Lạ Ơi</a> <br /><a class="singer" href="#"> Karik, Orange, Superbrothers </a> <span class="badge badge-pill badge-dark float-lg-right">9m</span></li>
        <li class="list-group-item"> <a href="#">Buồn của Anh</a> <br /><a class="singer" href="#"> K-ICM, Đạt G, Masew </a> <span class="badge badge-pill badge-dark float-lg-right">7m</span></li>
        <li class="list-group-item"> <a href="#">Hôm Nay Tôi Buồn</a> <br /><a class="singer" href="#">Phùng Khánh Linh</a> <span class="badge badge-pill badge-dark float-lg-right">6m</span></li>
        <li class="list-group-item"> <a href="#">Đàn Bà Cũ</a> <br /><a class="singer" href="#">Phạm Trưởng</a> <span class="badge badge-pill badge-dark float-lg-right">5m</span></li>
        <li class="list-group-item"> <a href="#">Lạc Đường</a> <br /><a class="singer" href="#">Phạm Trưởng</a> <span class="badge badge-pill badge-dark float-lg-right">5m</span></li>
        <li class="list-group-item"> <a href="#">Hai Con Đường</a> <br /><a class="singer" href="#">Phạm Trưởng</a> <span class="badge badge-pill badge-dark float-lg-right">4m</span></li>
        <li class="list-group-item"> <a href="#">Ngượi Lối</a> <br /><a class="singer" href="#">Phạm Trưởng</a> <span class="badge badge-pill badge-dark float-lg-right">4m</span></li>
    </ul>
</div>