@model Music.Model.EF.user

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="text-center jumbotron">
    <h1 class="text-danger"><i class="fa fa-trash-o"></i></h1>
    <h3>Bạn muốn xóa người dùng @Html.DisplayFor(model => model.user_name) - @Html.DisplayFor(model => model.email)</h3>
</div>
<div class="text-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            <button class="btn btn-secondary">@Html.ActionLink("Trở về danh sách", "Index")</button>
        </div>
    }
</div>